body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e1e9f0;
}

/* nav bar styles */
nav {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    font-family: sans-serif;
}

.nav-menu {
    display: inline-block;
}

.logout-button {
    display: inline-block;
    position: relative;
    left: 111px;
    width: 100px;
    background-color: slategray;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logout {
    text-decoration: none;
    color: black;
}

/* landing page styles */
.landing-page-info {
    width: 100%;
    margin-top: 50%;
}

.page-description {
    margin-bottom: 50px;
    text-align: left;
    font-family: sans-serif;
}

#landing-login-button, #landing-signup-button {
    display: block;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    height: 35px;
    margin-bottom: 20px;
    font-size: 14px;
}

/* login and signup form styles */
.login-section, .signup-section {
    width: 100%;
    margin: 0 auto;
    margin-top: 35%;
}

#login-title, #signup-title {
    text-align: center;
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

#username, #user-password, #user-firstname, 
#user-lastname, #user-username, #user-pass {
    display: block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
    height: 35px;
    font-size: 14px;
}

#login-submit-button, #signup-button {
    width: 100%;
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
    height: 40px;
    font-size: 18px;
    color: black;
    margin-top: 25px;
}

/* postlist section styles */
.postsListSection {
    width: 100%;
    margin-top: 100px;
}

.postList {
    list-style: none;
    padding: 0;
}

.card-post {
    width: 100%;
    background-color: #ced2d6;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 30px 10px;
}

/* buttons styles */
.buttonsSection {
    margin: 0 auto;
    width: 300px;
    margin-top: 40%;
    text-align: center;
}

.create, .delete, .update, .checkOff {
    background-color: salmon;
    border: 1px solid salmon;
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
}

.createNewPostPopUp {
    display: none;
    width: 300px;
    padding: 50px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

/*#js-new-post-input {
    width: 300px;
}*/

.deleting {
    cursor: pointer;
}

.checkOffSign {
    text-decoration: line-through;
}
