body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* nav bar styles */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: sans-serif;
    background-color: #5680e9;;
    color: white;
}

.nav-menu {
    display: inline-block;
}

.dropdownButton {
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: transparent;
}

.createButtonSection {
    margin-top: 150px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.menuOptions {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid white;
    text-align: center;
    background-color: black;
    color: white;
}

div.nav-options a {
    /*display: none;*/
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    padding: 7px;
}

#home {
    margin-top: 8px;
}
/* landing page styles */
.landing-page-info {
    width: 100%;
    margin-top: 50%;
}

.page-description {
    margin-bottom: 50px;
    text-align: left;
    font-family: sans-serif;
}

#landing-login-button{
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid #8860d0;
    border-radius: 50px;
    height: 51px;
    margin-bottom: 20px;
    font-size: 14px;
}

#landing-signup-button {
    display: block;
    width: 100%;
    background-image: linear-gradient(to right, #8860d0, #5ab9ea);
    border: 1px solid white;
    border-radius: 50px;
    height: 51px;
    margin-bottom: 20px;
    font-size: 14px;
    color: white;
}

.userAccountOptions {
    text-align: center;
    margin-top: 45px;
    font-size: 14px;
    font-family: sans-serif;
}

.signUpView, .loginView {
    text-decoration: none;
    color: #496eca;
}

.signupGreeting {
    text-align: center;
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
}

/* login and signup form styles */
.login-section, .signup-section {
    width: 100%;
    margin: 0 auto;
    margin-top: 35%;
}

#login-title, #signup-title {
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#username, #user-password, #user-firstname, 
#user-lastname, #user-username, #user-pass {
    display: block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
    height: 35px;
    font-size: 14px;
}

#login-submit-button, #signup-button {
    width: 100%;
    border: 1px solid #5680e9;
    border-radius: 50px;
    background-color: white;
    height: 51px;
    font-size: 18px;
    margin-top: 25px;
}

/* postlist section styles */
.postsListSection {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.postList {
    list-style: none;
    padding: 0;
}

.postButton {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.card-post {
    width: 100%;
    background-color: white;
    border: 2px solid #89ceeb;
    border-radius: 5px;
    padding: 50px 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
    text-align: center;
}

.completedCardPost {
    background-color: #89ceeb;
    border: 1px solid #89ceeb;
    color: white;
}

.usernameGreetingHeader {
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 35px;
    text-align: center;
}

/* buttons styles */
.buttonsSection {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.create {
    background-image: linear-gradient(to right, #8860d0, #5ab9ea);
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    height: 45px;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Create post modal pop up styles */
.postModalBox, .notesModalBox, .editPostModalBox, .imagesModalBox {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.createNewPostPopUp, .editPopUp {
    display: none;
    position: relative;
    width: 85%;
    padding: 50px;
    margin-top: 50px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #5680e9;
    text-align: center;
}

.submitEditedPost {
    margin-top: 25px;
    background-color: white;
    width: 50%;
    border-radius: 50px;
    height: 34px;
    border: 1px solid white;
    font-size: 14px;
}

.closeWindow, .closeEditWindow, .closeNoteWindow, .closeImageWindow {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 22px;
    background-color: transparent;
    border: none;
}

#js-new-post-input, #js-note-input, #js-edit-post {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 2px;
    font-size: 14px;
}

.submitPost, .submitNote, .submitImageButton {
    margin-top: 25px;
    background-color: white;
    width: 50%;
    border-radius: 50px;
    height: 34px;
    border: 1px solid white;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Single post section */
#single-post-section {
    margin-top: 25px;
    list-style: none;
}

.openPostSection {
    background-color: white;
    width: 100%;
    height: 100px;
}

.deletedPostMessage {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    height: 100px;
    padding-top: 15px;
}

/* Notes styles */
#addNotesPopUp, .imageUploadContainer {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: #5680e9;
    text-align: center;
    position: relative;
}

#noteListSection, .imagesCollectionSection {
    width: 100%;
    border: 2px solid #84ceeb;
    border-radius: 5px;
    margin-bottom: 20px;
}

.notesHeader, .imagesHeader {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    display: block;
    background-color: black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(to right, #8860d0, #5ab9ea);
    padding: 5px 20px;
    letter-spacing: 3px;
}

.postAddNote, .postAddImage {
    background-color: transparent;
    border: transparent;
    float: right;
    font-size: 22px;
    color: white;
    padding: 5px 5px;
}

#noteList {
    margin-left: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    padding: 0;
    padding-left: 20px;
}

.noteListItem {
    margin-bottom: 5px;
}

#noteLegend {
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.deleting {
    cursor: pointer;
}

.checkOffSign {
    text-decoration: line-through;
}

.postOptions {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
}

.postOptions button {
    border: 1px solid white;
    border-radius: 50%;
    background-color: #5ab9ea;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

#uploadImageTitle {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    padding: 5px 10px;
    color: white;
}

.postImage {
    width: 100%;
    margin-left: -20px;
}

#imageList {
    list-style: none;
}

label.imageUploadButton input[type="file"] {
    position: absolute;
    top: -1000px;
}

.imageUploadButton {
    width: 180px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background: #5680e9;
    display: inline-block;
}

.uploadIcon {
    margin-left: 5px;
}

/* Media queries for bigger screen sizes */
@media only screen and (min-width: 640px) {

    #landing-login-button, #landing-signup-button {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .landing-page-info {
        margin-top: 250px;
    }

    .page-description {
        text-align: center;
    }

    #username, #user-password, #user-firstname, 
    #user-lastname, #user-username, #user-pass {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .login-form, .signup-form{
        text-align: center;
    }

    #login-submit-button, #signup-button {
        width: 70%;
    }

    .usernameGreetingHeader {
        font-size: 40px;
    }

    /* post list page view styles */
    .buttonsSection {
        margin-top: 30px;
    }

    .create {
        font-size: 16px;
    }

    .card-post {
        font-size: 24px;
    }

    .submitPost, .submitNote, .submitImageButton {
        font-size: 16px;
        height: 41px;
        width: 40%;
    }

    #js-note-input {
        height: 35px;
    }
}

@media only screen and (min-width: 834px) {
    .col-12 {
        width: 100%;
    }

    .col-8 {
        width: 66.7%;
    }

    .col-4 {
        width: 33.3%;
    }

    .page-description {
        font-size: 45px;
        text-align: center;
    }

    #landing-login-button, #landing-signup-button {
        width: 50%;
    }

    .login-section, .signup-section {
        margin-top: 200px;
    }

    #username, #user-password, #user-firstname, 
    #user-lastname, #user-username, #user-pass {
        width: 55%;

    }

    #login-submit-button, #signup-button {
        width: 55%;
    }

    .create {
        width: 45%;
        height: 51px;
    }

    .card-post {
        font-size: 28px;
    }

    .submitEditedPost {
        width: 40%;
        height: 41px;
        font-size: 16px;
        margin-top: 30px;
    }

    #js-note-input, #js-new-post-input, #js-edit-post {
        width: 80%;
        height: 35px;
    }

    #noteList {
        font-size: 20px;
    }

    .imagesCollectionSection {
        overflow: auto;
    }

    .postImage {
        width: 100%;
        margin-left: 0;
    }

    .imageDiv {
        max-width: 50%;
        float: left;
        padding-left: 1%;
        padding-right: 1%;
        margin-left: -2%;
        margin-right: 2%;
        min-height: 20em;
        margin-bottom: 10px;
    }

    .closeWindow, .closeEditWindow, .closeNoteWindow, .closeImageWindow {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1024px) {
    .landing-page-info {
        text-align: center;
        margin-top: 250px;
    }

    #landing-login-button, #landing-signup-button {
        display: inline-block;
        width: 25%;
    }

    .login-section, .signup-section {
        width: 65%;
    }

    .userAccountOptions {
        font-size: 16px;
    }

    .menuOptions {
        background-color: transparent;
        border-top: transparent;
    }

    .usernameGreetingHeader {
        font-size: 50px;
        margin-bottom: 50px;
    }

    .card-post {
        /*box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);*/
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        font-size: 35px;
    }

    .card-post:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }

      .imageDiv {
          width: 33.33%;
          min-height: 26em;
      }

}